*{
    margin: 0px;
    padding: 0px;
}

body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.cars{
    padding-top: 190px;
    margin-top: 130px;
}